.in-product{
    width: 100%;
    height: 100vh;
    padding: 0rem 8%;
}

.in-product .text{
    font-size: 3rem;
    color: var(--txt-clr);
    margin-top: 100rem;
}

.product-container{
    display: flex;
    gap: 2rem;
    flex: 1 1 40rem;
}

.product-container .left-part{
    flex-basis: 55%;
    width: 700px;
    display: block;
}

.left-part .bg-img{
    aspect-ratio: 1; 
}

.left-part .bg-img img{
    width: 100%;
    cursor: pointer;
}

.left-part .sm-img{
    width: inherit;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sm-img img{
    cursor: pointer;
    width: 8rem;
    margin: 0 auto;
    border: 2px solid lightslategray;
}

/* ====product details========= */
.product-container .right-part{
    flex-basis: 45%;
    width: 600px;
}

.right-part h3{
    margin: 3rem 0 2rem 0;
    font-size: 2rem;
}

.right-part span{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.right-part .stars{
    margin-top: 1rem;
}
.right-part .stars i{
    color: gold;
}

.right-part p{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.right-part .quantity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.quantity label{
    font-weight: 800;
    font-size: 1.3rem;
}

.quantity input{
    padding: 1rem;
    font-size: 1rem;
}

.right-part .btn{
    width: 100%;
    background: transparent;
    color: var(--txt-clr);
    font-weight: 800;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease;
    margin-bottom: 2rem;
}

.right-part .btn:hover{
    color: beige;
    background-color: var(--txt-clr);
}

/* bottom additional info section */
.right-part .additional-info{
    padding: 1rem;
}
.right-part .additional-info .info{
    margin: .2rem 0;
}

.info .top{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid;
}

.right-part .top h5{
    font-size: 1.3rem;
}
.right-part .top i{
    cursor: pointer;
}

.right-part .additional-info p{
    display: block;
}

.right-part .additional-info p.active{
    display: block;
}

/* other products section== */

.other-products{
    width: 100%;
    height: auto;
    padding: 3rem 8%;
}

.other-products .pr-container{
    border: 1px solid;
    overflow: hidden;
}

.pr-container .images{
    text-align: center;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pr-container .images img{
    width: 20rem;
    flex: 1;
}
